.App {
  text-align: center;
}
.ParentOfLogin{
  margin-top: 15px;
  padding: 155px;
  background-image: url("https://i.gifer.com/XwSn.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
